{% for activo in activos %}
    {% if activo.activo == true %}

        <div class="p-2">
            <div class="card" style="width: 250px;">
                <div class="card-body">
                    <p data-bs-toggle="collapse" data-bs-target="#alumno{{ alumno[0] }}">{{ alumno[1] }}</p>
                    <div class="collapse" id="alumno{{ alumno[0] }}">

                        {% for cursos in cursosAux %}
                            {% for curso in cursos %}
                                <a href = "mailto: {{ alumno[2] }}">{{ alumno[2] }}</a>
                                <h4>Curso:</h4>
                                <p>{{ curso.nombre }}</p>
                                
                                {% for cursoAlumno in cursosAlumnos %}
                                    {% if curso.id == cursoAlumno.id_curso_id %}
                                        <h4>Estado:</h4>
                                        <p>{{ cursoAlumno.estado }}</p>
                                    {% endif %}
                                {% endfor %}

                                {% for reservasAlumno in reservasAlumnos %}
                                    {% if reservasAlumno.fecha <= date() and curso.id == reservasAlumno.id_curso_id %}
                                        <h4>Reserva:</h4>
                                        <p>{{ reservasAlumno.fecha }}</p>
                                    {% endif %}
                                {% endfor %}

                                <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#modal{{ curso.id }}" 
                                    style="background-color: #0A72B8 !important; border-color: #0A72B8 !important;" >Modificar</button>

                                <div class="modal" id="modal{{ curso.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                        <div class="modal-header">
                                            <h4 class="modal-title">{{ nombre }}</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <div class="modal-body">
                                            <p>Cambiar estado</p>

                                            <form action="modificarEstado" method="post">
                                                <select class="form-select" id="estado" name="estado">
                                                    <option>0 Curso sin pasos</option>
                                                    <option>1 Cuestionario inicial</option>
                                                    <option>2 Reserva autoevaluaci贸n</option>
                                                    <option>3 Espera resultados autoevaluaci贸n</option>
                                                    <option>4 Explicaci贸n videoconferencia</option>
                                                    <option>5 Material entrenamiento</option>
                                                    <option>6 Examen</option>
                                                    <option>7 Reserva entrenamientos</option>
                                                    <option>8 Videos</option>
                                                    <option>9 Horario talleres</option>
                                                    <option>10 Acreditaci贸n en PDF</option>
                                                </select>

                                                <input type="hidden" type="text" name="id" id="id" class="form-control" value="{{idAlumno}}"><br>

                                                <button type="submit" class="btn btn-lg btn-primary"> Modificar estado </button>
                                            </form>
                                            
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                                        </div>

                                        </div>
                                    </div>
                                </div>
                                
                                <hr>
                            {% endfor %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endfor %}